<!DOCTYPE html>
<html>
<body>

<h1> LET'S  CREATE EVENT </h1>

<form action='/event' method="POST">
  
  <input type="text" placeholder="enter eventname" name="ename"><br><br>
  <input type="text" placeholder="enter id" name="eid"><br><br>
  <input type="number" placeholder="phone-number" name='number'><br><br>
  <input type="text" placeholder="category" name='ecategory'><br><br>
  <input type="text" placeholder="location" name='location'><br><br>
  <input type="number" placeholder="anyoneCanJoin" name='anyone'><br><br>
  
  <input type="text" placeholder="choose your cuisine" name='foodType'><br><br>  
  
  <input type="submit">

</form>
</body>
</html>