<!DOCTYPE html>
<html>
<body>

<h1> USER_DETAILS </h1>

<form action='/' method="POST">
  <input type ="text" placeholder="uid" 
name="uid"><br><br>
  <input type="text" placeholder="enter username" name="uname"><br><br>
  <input type="text" placeholder="enter gender" name="ugender"><br><br>
  <input type="number" placeholder="enter code" name="countryCode"><br><br>
  <input type="number" placeholder="age" name='age'><br><br>
  <input type="number" placeholder="phone-number" name='number'><br><br>
  <input type="text" placeholder="mailid" name='mail'><br><br>
  <input type="text" placeholder="location" name='location'><br><br>
  <input type="text" placeholder="profession" name='profession'><br><br>
  <input type="text" placeholder="preferance" name='preferance'><br><br>  
  
  <input type="submit">

</form>
</body>
</html>